/*
    ---------------------------------------------------
    Author      : Shree Dhar Acharya
    StudentId   : 8899288
    Date        : 4th Feb 2024
    Application : FoodWise
    ----------------------------------------------------
*/

.footer {
  width: 100%;
  display: flex;
  background-color: #2ecba9;
  color: black;
  padding: 15px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.footer-header {
  background-color: #2ecba9;
}

.footer p {
  margin: 0;
  font-size: 1.1rem;
}


/*
    ---------------------------------------------------
    Author      : Shree Dhar Acharya
    StudentId   : 8899288
    Date        : 6th Feb 2024
    Application : FoodWise
    ----------------------------------------------------
*/

.hero {
  height: 100px;
}

.footer-img {
  margin: 50px 0 0 30px
}

.row {
  margin-left: 14%;
  margin-top: 1%;
}

.col-md-3 {
  width: 17%;
  font-size: 10px;
  font-weight: 500
}

.subscribe-btn {
  border-radius: 0 50px 50px 0
}

.input-group .form-control {
  background-color: #fff;
}

body {
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

.copyright-text {
  font-size: 12px;
  text-align: center;
  margin-left: 15%;
  margin-top: 0.5%
}