/*
    ---------------------------------------------------
    Author      : Shree Dhar Acharya
    StudentId   : 8899288
    Date        : 4th Feb 2024
    Application : FoodWise
    ----------------------------------------------------
*/

img {
  height: 66.7px;
}

.header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.profile-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}


.header .navbar-brand {
  font-size: 1.5rem;
  padding-left: 50px;
  margin-right: 200px;
}

/* .navbar-brand img {
    width: 250px;
  } */

.header .nav-link {
  font-weight: 500;
  margin-left: 30px;
  padding-left: 30px;
  font-size: 13px;
  color: #000;
}

/* Custom styles for dropdown menu */
.dropdown-menu {
  border-radius: 20px;
  /* Rounded corners */
  background-color: #34cbab;
  /* Aqua background color */
  min-width: unset !important;
  /* Remove minimum width */
  width: max-content;
  /* Set width to fit content */
}

.dropdown-item {
  color: black !important;
  /* Black font color */
  padding: 8px 20px;
  /* Adjust padding for dropdown items */
  min-width: 180px;
  /* Set minimum width for dropdown items */
  width: max-content;
  /* Set width to fit content */
}