/*
    ---------------------------------------------------
    Author      : Shree Dhar Acharya
    StudentId   : 8899288
    Date        : 4th Feb 2024
    Application : FoodWise
    ----------------------------------------------------
*/

img {
  height: 66.7px;
}

.header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center align vertically */
}

.navbar-brand {
  height: auto;
  font-size: 1.5rem;
  padding-left: 50px;
  margin-right: 50px; /* Reduce margin for better spacing */
}

.nav-link {
  font-weight: 500;
  margin-left: 20px; /* Reduce margin for better spacing */
  padding-left: 20px; /* Reduce padding for better spacing */
  font-size: 14px; /* Increase font size for better readability */
  color: #000;
}

.profile-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Custom styles for dropdown menu */
.dropdown-menu {
  border-radius: 20px;
  background-color: #34cbab;
  min-width: unset !important;
  width: max-content;
}

.dropdown-item {
  color: black !important;
  padding: 8px 20px;
  min-width: 180px;
  width: max-content;
}

@media (max-width: 768px) {
  .header{
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-brand {
    padding-left: 0px; /* Reduce padding for better spacing */
    margin-right: 0px;
  }
  
  .nav-link {
    margin-left: 10px; /* Reduce margin for better spacing */
    padding-left: 10px; /* Reduce padding for better spacing */
    font-size: 12px; /* Reduce font size for better fit */
  }
  .navbar-nav {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to next line if needed */
  }

  .nav-item {
    margin: 10px 0;
  }
}
