/*
    ---------------------------------------------------
    Author      : Shree Dhar Acharya
    StudentId   : 8899288
    Date        : 6th Feb 2024
    UpdatedBy   : Tirth Shah
    Application : FoodWise
    ----------------------------------------------------
*/

.header {
    justify-content: center;
    color: #fff;
    font-weight: 900;
}
h3 {
    text-align: center;
    color: #fff;
}

.card {
    background-color: #7962d6;
    font-size: x-large;
}

.form-group {
    margin-top: 15px
}

.row-height {
    height: 500px;

}

.form-control {
    border: 1px;
    border-radius: 25px;
    background-color: darkslateblue;
    color:white;
    font-size: medium;
}

label {
    color: #fff;
    margin-bottom: 5px;
    font-size: medium;
}

.button {
    margin-top: 15px;
    font-size: large;
}

.sign-in-btn {
    background-color: #E6E09F;
    border: 1px;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: large;
}

.sign-in-btn:hover {
    background-color: #E6E09F;
}

.hero {
    height: 450px;
}

.login-hero {
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: darkslateblue;
}

.login-hero .col-md-4 {
    width: 35%
}