/*
    ---------------------------------------------------
    Author      : Shree Dhar Acharya
    StudentId   : 8899288
    Date        : 6th Feb 2024
    UpdatedBy   : Tirth Shah
    Application : FoodWise
    ----------------------------------------------------
*/

.header {
    justify-content: center;
    color: #fff;
    font-weight: 900;
}

.card {
    background-color: #7962d6;
}

.form-group {
    margin-top: 15px
}

.row-height {
    height: 500px;

}

.form-control {
    border: 1px;
    border-radius: 25px;
    background-color: darkslateblue;
}

.form-control:focus {
    background-color: darkslateblue;
    /* Or whatever background color you want */
}

label {
    color: #fff;
    margin-bottom: 5px;
    font-size: small;
}

.button {
    margin-top: 15px;
}

.sign-in-btn {
    background-color: #E6E09F;
    border: 1px;
    border-radius: 25px;
}

.sign-in-btn:hover {
    background-color: #E6E09F;
}

.hero {
    height: 500px;
}

.login-hero {
    background-color: darkslateblue;
}

.login-hero .col-md-4 {
    width: 35%
}