/*
    ---------------------------------------------------
    Author      : Prashant Sahu
    StudentId   : 8877584
    Date        : 7th Feb 2024
    Application : FoodWise
    ----------------------------------------------------
*/

.card {
    border: 1px solid #ddd;
    padding:50px;
    margin:8px;
    border-radius:8px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);

}