.hero {
    height: 250px;
    position: relative;
}

.hero-content {
    display: flex;
    height: 100%;
    position: relative; /* Add position relative to position child elements */
}

.text-content {
    text-align: center;
}

.hero-heading {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
}

.hero-description {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.hero-image {
    height: 100%;
    width: auto;
    max-width: 100%;
    order: 1; /* Change order to display hero image first */
}

.heroText {
    margin-right: auto;
    order: 2; /* Change order to display hero text second */
    position: absolute; /* Position absolutely */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center */
}

.signup-text {
    font-size: 1rem;
}

.btn-hero {
    border-radius: 30px;
    background-color: darkslateblue;
    color: #fff;
    width: 50%;
    margin-top: 20px;
    font-size: 1.50rem;
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .hero-content {
        flex-direction: column; /* Change to column layout */
        align-items: center; /* Center align items */
    }

    .heroText {
       margin-top: 20px; /* Adjust margin */
        margin: auto;
    }
}
