/*
    ---------------------------------------------------
    Author      : Shree Dhar Acharya
    StudentId   : 8899288
    Date        : 6th Feb 2024
    Application : FoodWise
    ----------------------------------------------------
*/

.hero {
    height: 350px;
}

.hero-content {

    align-items: center;
}

.text-content {
    margin-left: 140px;
    position: absolute;
    bottom: 50%;
    left: 35%
}

.hero-heading {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.hero-description {
    font-size: 2rem;
    margin-bottom: 10px;
}

.hero-image {
    height: 350px;
    width: auto;
}



.signup-text {
    text-align: center;
    font-size: 16px;
}

.btn-hero {
    border-radius: 30px;
    background-color: darkslateblue;
    color: #fff;
    width: 20%;
}

.btn-hero:hover {
    background-color: darkslateblue;
    /* Changing background color on hover */
    color: #fff;
    /* Changing text color on hover */
}

.btn-hero:active {
    background-color: darkslateblue;
    /* Keeping background color on click */
    color: #fff;
    /* Keeping text color on click */
}

@media (max-width: 1024px) {
    .text-content {
        position: absolute;
        left: 20%
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .text-content {
        position: absolute;
        left: 10%
    }
}