/*
    ---------------------------------------------------
    Author      : Shree Dhar Acharya
    StudentId   : 8899288
    Date        : 6th Feb 2024
    Application : FoodWise
    ----------------------------------------------------
*/

.hero {
    height: 400px;
    margin-top: 50px;
}

.hero .content {
    text-align: center;
    position: relative;
    z-index: 1;
}

.hero .hero-heading {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero .hero-description {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.hero button {
    font-size: 1rem;
    padding: 10px 20px;
}

.hero-image {
    height: 395.9px;
    width: 506.4px;
    margin: 0 !important;
    left: 400px;
}

.hero-content {
    width: 1000px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    align-items: center;
    top: 0;
    z-index: 99;
   
}

.text-content {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-17xl);
}