/*
    ---------------------------------------------------
    Author      : Prashant Sahu
    StudentId   : 8877584
    Date        : 7th Feb 2024
    Application : FoodWise
    ----------------------------------------------------
*/
.dashboard-chart .chart {
    border-top: 1px solid darkcyan;
}

@media (max-width: 768px) {
    .dashboard-chart .row{
        flex-direction: column;
    }
  }
  