/*
    ---------------------------------------------------
    Author      : Shree Dhar Acharya
    StudentId   : 8899288
    Date        : 6th Feb 2024
    UpdatedBy   : Tirth Shah
    Application : FoodWise
    ----------------------------------------------------
*/

.header {
    justify-content: center;
    color: #fff;
    font-weight: 900;


}

.row-height {
    height: 500px
}

.card-body {
    background-color: #314ac0;
    border-radius: 20px
}

h5 {
    text-align: center;
    color: #fff;
}

.form-group {
    margin-top: 15px;
}

.form-control {
    border: 1px;
    border-radius: 25px;
    background-color: darkslateblue;
}

.form-control:focus {
    background-color: darkslateblue;
    /* Or whatever background color you want */
}

label {
    color: #fff;
    margin-bottom: 5px;
    font-size: small;
}

.button {
    margin-top: 15px;
}

.sign-in-btn {
    background-color: #30ccac;

}

.sign-in-btn:hover {
    background-color: #30ccac;
}

.hero {
    height: 500px;
}

.signup-hero {
    background-color: darkslateblue;
}

.col-md-4 {
    width: 50%
}

.card {
    border-radius: 20px;
}

.text {
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: 10px;
    color: #fff;
    font-weight: 600;
}

.sign-in {
    color: #fff;

}